[SddmGreeterTheme]
Name=Aerial HD Video
Description=Aerial HD Video Stream
Author=Fabio Almeida
Copyright=(c) 2016, Fabio Almeida
License=CC-BY-SA
Type=sddm-theme
Version=0.1
QtVersion=6
Website=https://github.com/sedentaryrock/aerial-sddm-theme
Screenshot=screens/screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=aerial-sddm
Theme-API=2.0

